.DS_Store
**/*.launch
**/.texlipse
**/.project
lu.uni.lassy.excalibur.standard.report.libraries/*
*.pdf
**/tmp/
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.log
*.lof
*.out
*.ps
*.toc
*.xdy
*.maf
*.mtc
*.mtc0
*.idx
*.glsdefs
