.DS_Store
lu.uni.lassy.excalibur.group03.usermanual.report/.externalToolBuilders/makeGlossaries.launch
lu.uni.lassy.excalibur.group03.usermanual.report/.texlipse
lu.uni.lassy.excalibur.group03.usermanual.report/user-manual.pdf

